<div class="login-body">
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">Log-in</div>
            <%= form_with model: @teacher, url: session_path, local: true, class: "login-form" do |form| %>
                <div class="form-group">
                    <%= form.label :email, class: "form-label" %>
                    <%= form.email_field :email, class: "form-control", placeholder: "Enter your email", required: true %>
                </div>
            
                <div class="form-group">
                    <%= form.label :password, class: "form-label" %>
                    <%= form.password_field :password, class: "form-control", placeholder: "Enter your password", required: true %>
                </div>

                <div class="form-options">
                    <%= link_to "Forgot Password?", new_password_reset_path, class: "forgot-password" %>
                </div>

                <div class="form-group">
                    <%= form.submit "Log in", class: "login-btn btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
