<h1>Edit Student</h1>

<%= form_with model: @student, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :marks %>
    <%= form.number_field :marks %>
  </div>

  <div>
    <%= form.submit 'Update Student' %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
