<div class="login-body">
	<div class="login-container">
		<div class="login-box">
			<div class="login-logo">Sign-up</div>
			<%= form_with model: @teacher, url: registration_path, class: "login-form"  do |form| %>
				<% if form.object.errors.any? %>
					<% form.object.errors.full_messages.each do |message| %>
						<div><%= message %></div>
					<% end %>
				<% end %>

				<div class="form-group">
					<%= form.label :name, class: "form-label" %>
					<%= form.text_field :name, class: "form-control", placeholder: "Enter your name", required: true %>
				</div>

				<div class="form-group">
					<%= form.label :email, class: "form-label" %>
					<%= form.email_field :email, class: "form-control", placeholder: "Enter your email", required: true %>
				</div>
		
				<div class="form-group">
					<%= form.label :password, class: "form-label" %>
					<%= form.password_field :password, class: "form-control", placeholder: "Enter your password", required: true %>
				</div>

				<div class="form-group">
					<%= form.label :password_confirmation, class: "form-label" %>
					<%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter your Confirm password", required: true %>
				</div>

				<div class="form-group">
					<%= form.submit "Sign Up", class: "login-btn btn btn-primary" %>
				</div>
			<% end %>
		</div>
  	</div>
</div>