<header>
    <div class="logo">
        <a>Teacher Portal</a>
    </div>
    <nav>
        <ul>
            <li><%= link_to "Home", home_index_path %></li>
            <% if teacher_signed_in? %>
                <li><%= link_to "Edit Password", edit_password_path %></li>
                <li><%= button_to "Log out", session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Sign-up", new_registration_path %></li>
                <li><%= link_to "Log-in", new_session_path %></li>
            <% end %>
        </ul>
    </nav>
</header>